@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@800&family=DM+Sans&display=swap');

:root {
  --bg: #e6e8d9;
  --bg2: #433f4e;
  --primary: #459075;
  --text: #a4b494;
  --lighter: #bec5ad;
  --accent: rgb(255, 78, 75);
  /* font-size: calc(10px + 2vmin); */
  font-size: 16px;
}

* {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--text);
  margin: 0;
  scroll-behavior: smooth;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* letter-spacing: 1px; */
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--accent)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3 {
  font-family: "BioRhyme";
  letter-spacing: 1px;
  line-height: 0.9;
}

.nav {
  display: flex;
  width: calc(100% - 32px);
  gap: 1em;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top:0;
  z-index: 99;
  background: linear-gradient(var(--bg),transparent);
  opacity: 0.8;
}

.nav > ul {
  list-style: none;
  display: flex;
  gap: 1em;
}

.btn {
  font-size: 1rem;
  font-family: "DM Sans";
  font-weight: bold;
  letter-spacing: 1px;
  border: 0;
  border-radius: 1.5em;
  padding: 0.8em 1em;
  background-color: var(--accent);
  color: var(--bg);
  cursor: pointer;
  text-align: center;
}

.about {
  z-index: 50;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #e6e8d94f;
}

.about img {
  max-height: 80vh;
  display: none;
}

.about p {font-size: 1.1rem;}

.about--infos {
  pointer-events: auto;
  width: 70vw;
  background: var(--bg2);
  color: var(--bg);
  border-radius: 8px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.about--infos > h1 {text-shadow: 2px 2px var(--primary);}

.tool {
  font-size: 0.8rem;
  border-radius: 1em;
  border: 1px solid var(--bg);
  /* background-color: var(--bg); */
  color: var(--bg);
  padding: 0.3em 0.5em;
}

.flex-row {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}


.container {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em; */
}

.project-container {
  width: 80vw;
  height: 70vh;
  background: var(--bg2);
  /* border: 3px solid var(--primary); */
  position: relative;
  top: 15vh;
  left: 10vw;
  box-shadow: 2px 2px 16px rgba(0,0,0,0.3);
  overflow: hidden;
}

.project-inner {
  padding: 0.8em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1em
}

.project-details {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 0.5em;
  text-align: justify;
}

#projects {scroll-behavior: smooth;}

.project-image {
  max-width: 100%;
}

.fixed {
  position: fixed;
}

#donut {
  background: var(--primary);
  color: var(--bg);
}

.paper {
  background-color: #DAD1B5;
  border-image-source: url("./assets/edge\ ver\ 2.png");
  border-image-slice: 5% fill;
  border-image-repeat: round;
  border-image-outset: 20px;
  border-image-width: 20px;
}

.tidy-up {
  display: none;
}

.display-none {display: none;}

@media (min-width: 800px) {
  .about--infos {
    width: 25%;
  }

  .about {
    flex-direction: row;
  }

  .about img {
    max-height: 80vh;
    display: block;
  }

  .project-container {
    width: 600px;
    height: fit-content;
    position: relative;
    top: 20vh;
    left: 25vw;
    box-shadow: 2px 2px 16px rgba(0,0,0,0.3);
  }

  .project-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;


  }

  .project-image {
    align-self: center;
  }

  .tidy-up {
    margin: 3em auto;
    display: block;
    cursor: pointer;
    z-index: 100;
  }

  .fixed {
    position: fixed;
  }

  .end {
    justify-content: flex-end;
  }

  .instructions {
    z-index: 49;
    font-size: 1.2rem;
    background-color: var(--bg);
    color: var(--bg2);
    padding: 2em;
    border-radius: 1em;
    position: fixed;
    top: 45%;
    left: calc(50% - 100px);
    width: 200px;
    text-align: center;
  }

  .close {
    position:absolute;
    top: 0.5em;
    right: 0.5em;
    font-weight: bold;
    padding: 0.25em;
    cursor: pointer;
    color: var(--accent);
  }
}
